div.content h2 a:active,
div.content h2 a:link {
  text-decoration: underline;
}
.box {
  border: 1px solid #c6c6c6;
  padding: 2px 10px 10px 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.box:hover {
  box-shadow: 0 6px 8px rgba(0,0,0,0.5);
}
div.form-item-departments, 
div.form-item-keywords,
div.form-item-dbtype {
  margin: 0px;
}
.uw-site-main--content #content { 
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
}
#autocomplete {
  background: #fff;
}
#autocomplete li.selected {
  background: #dfdfdf;
  color: #000;
}
#autocomplete li:first-child {
/*#autocomplete li.first-item {*/
  background: #fffaaa;
}
#autocomplete li:first-child.selected {
  background: #dfdfdf;
}
/* Hide the <span> containing the resource_id */
#autocomplete li span.autocomplete-resource-id {
  display: none;
}
div.more-info-content {
  white-space: pre;
  white-space: pre-line;
  background: #fff;
  margin-bottom: 1em;
  border-left: 1px solid silver;
  padding-left: 10px;
}
/* Add a spinner to the page when loading dept or keyword search results */
/* https://www.tjvantoll.com/2013/04/24/showing-a-css-based-loading-animation-while-your-site-loads/ */
html {
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}
html, body {
    /* For the loading indicator to be vertically centered ensure */
    /* the html and body elements take up the full viewport */
    min-height: 100%;
}
html.loading {
    background: #fff url('assets/spinner.gif') no-repeat 50% 25%;

    /* Ensures that the transition only runs in one direction */
    -webkit-transition: background-color 0;
    transition: background-color 0;
}
body {
    -webkit-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}
html.loading body {
    /* Make the contents of the body opaque during loading */
    opacity: 0.25;

    /* Ensures that the transition only runs in one direction */
    -webkit-transition: opacity 0;
    transition: opacity 0;
}
#search-parameters {
  margin-bottom: 2.5em;
  border-bottom: 1px solid #dfdfdf;
}
p.search-parameter {
  color: #787878;
}
.db-description {
  margin-bottom: 1.5em;
}
a.reset-filter {
  font-size: 0.8em;
  background-color: #eee;
  border: 1px solid #000;
  color: #000;
  padding: 10px;
  margin: 15px 0;
}
.gridcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 10px);
}
.griditem-field {
  justify-self: left;
  align-self: end;
}
.griditem-btn {
  justify-self: left;
  align-self: end;
}
.griditem-small {
  grid-column: span 10;
}
.griditem-small input[type=submit] {
  padding: 10px 15px;
  margin-left: 10px;
}
.griditem-medium {
  grid-column: span 20;
}
.griditem-medium input[type=submit] {
  padding: 10px 15px;
  margin-left: 10px;
}
.griditem-large {
  grid-column: span 35;
}
.griditem-large input[type=submit] {
  padding: 10px 15px;
  margin-left: 10px;
}
#edit-departments.form-select,
#edit-dbtype.form-select {
  margin-bottom: 2px;
}
